{{#title}}<figcaption class="s-cap s-cap--{{cap}}"><strong class="s-cap__title">{{title}}</strong>{{#sub}}<span class="s-cap__sub">{{sub}}</span>{{/sub}}</figcaption>{{/title}}{{^title}}{{#caption}}<figcaption>{{caption}}</figcaption>{{/caption}}{{/title}}
