<nav class="s-actionbar" aria-label="바로 가기 버튼">
  {{#secondary_label}}<a class="s-actionbar__sub" href="{{secondary_href}}">{{secondary_label}}</a>{{/secondary_label}}
  <a class="s-btn s-actionbar__main" href="{{primary_href}}">{{primary_label}}</a>
</nav>
