<section class="s-intro s-intro--quote" data-section-id="{{id}}" aria-labelledby="intro-title-{{id}}">
  <h2 id="intro-title-{{id}}">{{> label}}</h2>
  {{#body}}<blockquote class="s-quote"><p>{{body}}</p></blockquote>{{/body}}
</section>
